#program{
    min-height: 400px;
}

.naslovPredavac{
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  }
  p.with-eight {
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
  }